<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0_162" class="java.beans.XMLDecoder">
 <object class="clientServerPackage.ConcreteServer" id="ConcreteServer0"/>
<void class="businessPlanClasses.Category" id="Category0">
 <void property="name">
  <string>Action Plan</string>
 </void>
 <void property="rank">
  <int>3</int>
 </void>
 <void property="max">
  <int>10000000</int>
 </void>
</void>
<void class="clientServerPackage.ConcreteClient" method="getField">
 <string>username</string>
 <void method="set">
  <object class="clientServerPackage.ConcreteClient" id="ConcreteClient0">
   <void class="clientServerPackage.ConcreteClient" method="getField">
    <string>password</string>
    <void method="set">
     <object idref="ConcreteClient0"/>
     <string>z</string>
    </void>
   </void>
   <void class="clientServerPackage.ConcreteClient" method="getField">
    <string>department</string>
    <void method="set">
     <object idref="ConcreteClient0"/>
     <object class="clientServerPackage.Department" id="Department0">
      <void property="departmentName">
       <string>csc</string>
      </void>
      <void property="plans">
       <object class="java.util.ArrayList"/>
      </void>
     </object>
    </void>
   </void>
  </object>
  <string>z</string>
 </void>
</void>
<void class="businessPlanClasses.Statement" id="Statement0">
 <void property="data">
  <object class="java.util.ArrayList">
   <void method="add">
    <string>ffffffffffffffffff</string>
   </void>
  </object>
 </void>
 <void property="id">
  <string>2</string>
 </void>
 <void property="type">
  <object class="businessPlanClasses.Category">
   <void property="name">
    <string>2</string>
   </void>
  </object>
 </void>
 <void property="children">
  <object class="java.util.ArrayList">
   <void method="add">
    <object class="businessPlanClasses.Statement">
     <void property="children">
      <object class="java.util.ArrayList"/>
     </void>
     <void property="data">
      <object class="java.util.ArrayList"/>
     </void>
     <void property="id">
      <string>ff</string>
     </void>
     <void property="parent">
      <object idref="Statement0"/>
     </void>
     <void property="type">
      <object class="businessPlanClasses.Category" id="Category1">
       <void property="max">
        <int>10000000</int>
       </void>
       <void property="name">
        <string>Objective</string>
       </void>
       <void property="rank">
        <int>1</int>
       </void>
      </object>
     </void>
    </object>
   </void>
  </object>
 </void>
</void>
<void class="clientServerPackage.ConcreteServer" id="Field0" method="getField">
 <string>users</string>
 <void id="ArrayList0" method="get">
  <object idref="ConcreteServer0"/>
  <void method="add">
   <object idref="ConcreteClient0"/>
  </void>
  <void method="add">
   <object class="clientServerPackage.ConcreteClient" id="ConcreteClient1">
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>username</string>
     <void method="set">
      <object idref="ConcreteClient1"/>
      <string>b</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>password</string>
     <void method="set">
      <object idref="ConcreteClient1"/>
      <string>b</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>department</string>
     <void method="set">
      <object idref="ConcreteClient1"/>
      <object class="clientServerPackage.Department" id="Department1">
       <void property="departmentName">
        <string>csc2</string>
       </void>
       <void property="plans">
        <object class="java.util.ArrayList">
         <void method="add">
          <object class="clientServerPackage.BP">
           <void property="ID">
            <string>2 w</string>
           </void>
           <void property="design">
            <object class="businessPlanClasses.PlanDesign" id="PlanDesign0">
             <void id="ArrayList1" property="categoryList">
              <void method="add">
               <object idref="Category1"/>
              </void>
              <void method="add">
               <object class="businessPlanClasses.Category">
                <void property="max">
                 <int>10000000</int>
                </void>
                <void property="name">
                 <string>Strategy</string>
                </void>
                <void property="rank">
                 <int>2</int>
                </void>
               </object>
              </void>
              <void method="add">
               <object idref="Category0"/>
              </void>
             </void>
            </object>
           </void>
           <void property="histroy">
            <object class="java.util.ArrayList"/>
           </void>
           <void property="name">
            <string>2</string>
           </void>
           <void property="tree">
            <object class="businessPlanClasses.TreeBuilder">
             <void property="categories">
              <object idref="ArrayList1"/>
             </void>
             <void property="root">
              <object idref="Statement0"/>
             </void>
            </object>
           </void>
           <void property="year">
            <string>w</string>
           </void>
          </object>
         </void>
        </object>
       </void>
      </object>
     </void>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="clientServerPackage.AdminClient" id="AdminClient0">
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>username</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <string>admin</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>password</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <string>admin</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>department</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <object class="clientServerPackage.Department" id="Department2">
       <void property="departmentName">
        <string>Admin</string>
       </void>
       <void property="plans">
        <object class="java.util.ArrayList"/>
       </void>
      </object>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>isAdmin</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <boolean>true</boolean>
     </void>
    </void>
   </object>
  </void>
 </void>
</void>
<void idref="ArrayList0"/>
<void class="clientServerPackage.ConcreteServer" id="Field1" method="getField">
 <string>departments</string>
 <void id="ArrayList2" method="get">
  <object idref="ConcreteServer0"/>
  <void method="add">
   <object idref="Department0"/>
  </void>
  <void method="add">
   <object idref="Department1"/>
  </void>
  <void method="add">
   <object idref="Department2"/>
  </void>
 </void>
</void>
<void idref="ArrayList2"/>
</java>
