<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0_162" class="java.beans.XMLDecoder">
 <object class="clientServerPackage.ConcreteServer" id="ConcreteServer0"/>
<void class="businessPlanClasses.Category" id="Category0">
 <void property="name">
  <string>Goal</string>
 </void>
 <void property="rank">
  <int>2</int>
 </void>
 <void property="max">
  <int>10000000</int>
 </void>
</void>
<void class="businessPlanClasses.TreeBuilder" id="TreeBuilder0">
 <void property="root">
  <object class="businessPlanClasses.Statement">
   <void property="children">
    <object class="java.util.ArrayList"/>
   </void>
   <void property="comments">
    <object class="java.util.ArrayList" id="ArrayList0"/>
   </void>
   <void property="data">
    <object idref="ArrayList0"/>
   </void>
   <void property="id">
    <string>a</string>
   </void>
   <void property="type">
    <object class="businessPlanClasses.Category">
     <void property="name">
      <string>a</string>
     </void>
    </object>
   </void>
  </object>
 </void>
 <void property="categories">
  <void class="businessPlanClasses.PlanDesign" id="PlanDesign0">
   <void id="ArrayList1" property="categoryList">
    <void method="add">
     <object class="businessPlanClasses.Category">
      <void property="max">
       <int>10000000</int>
      </void>
      <void property="name">
       <string>Department</string>
      </void>
      <void property="rank">
       <int>1</int>
      </void>
     </object>
    </void>
    <void method="add">
     <object idref="Category0"/>
    </void>
    <void method="add">
     <object class="businessPlanClasses.Category">
      <void property="max">
       <int>10000000</int>
      </void>
      <void property="name">
       <string>Student Learning Objective</string>
      </void>
      <void property="rank">
       <int>3</int>
      </void>
     </object>
    </void>
   </void>
  </void>
  <object idref="ArrayList1"/>
 </void>
</void>
<void class="java.util.ArrayList" id="ArrayList2">
 <void method="add">
  <object class="clientServerPackage.BP">
   <void property="ID">
    <string>a 1</string>
   </void>
   <void property="department">
    <string>Admin</string>
   </void>
   <void property="design">
    <object idref="PlanDesign0"/>
   </void>
   <void property="histroy">
    <object class="java.util.ArrayList"/>
   </void>
   <void property="name">
    <string>a</string>
   </void>
   <void property="tree">
    <object idref="TreeBuilder0"/>
   </void>
   <void property="year">
    <string>1</string>
   </void>
  </object>
 </void>
</void>
<void class="clientServerPackage.ConcreteServer" id="Field0" method="getField">
 <string>users</string>
 <void id="ArrayList3" method="get">
  <object idref="ConcreteServer0"/>
  <void method="add">
   <object class="clientServerPackage.AdminClient" id="AdminClient0">
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>username</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <string>a</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>password</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <string>a</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>department</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <object class="clientServerPackage.Department" id="Department0">
       <void property="departmentName">
        <string>Admin</string>
       </void>
       <void property="plans">
        <object idref="ArrayList2"/>
       </void>
      </object>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>userToken</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <string>5916674567188469</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>isAdmin</string>
     <void method="set">
      <object idref="AdminClient0"/>
      <boolean>true</boolean>
     </void>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="clientServerPackage.AdminClient" id="AdminClient1">
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>username</string>
     <void method="set">
      <object idref="AdminClient1"/>
      <string>admin</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>password</string>
     <void method="set">
      <object idref="AdminClient1"/>
      <string>admin</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>department</string>
     <void method="set">
      <object idref="AdminClient1"/>
      <object idref="Department0"/>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>userToken</string>
     <void method="set">
      <object idref="AdminClient1"/>
      <string>3486583595627514</string>
     </void>
    </void>
    <void class="clientServerPackage.ConcreteClient" method="getField">
     <string>isAdmin</string>
     <void method="set">
      <object idref="AdminClient1"/>
      <boolean>true</boolean>
     </void>
    </void>
   </object>
  </void>
 </void>
</void>
<void idref="ArrayList3"/>
<void class="clientServerPackage.ConcreteServer" id="Field1" method="getField">
 <string>activeBusinessPlans</string>
 <void id="Hashtable0" method="get">
  <object idref="ConcreteServer0"/>
  <void method="put">
   <string>a 1</string>
   <object class="java.util.ArrayList"/>
  </void>
 </void>
</void>
<void idref="Hashtable0"/>
<void class="clientServerPackage.ConcreteServer" id="Field2" method="getField">
 <string>departments</string>
 <void id="ArrayList4" method="get">
  <object idref="ConcreteServer0"/>
  <void method="add">
   <object idref="Department0"/>
  </void>
 </void>
</void>
<void idref="ArrayList4"/>
</java>
